input[type="checkbox"]:not(.tpy-visible) {
    visibility: hidden;
    float: left;

    &+label {
        cursor: pointer;
        &:before {
            border: 1px solid var(--tpy-active-border-color);
            content: "\00a0";
            display: inline-block;
            font: 0.9em sans-serif;
            width: 16px;
            height: 16px;
            margin: 0 .25em 0 -16px;
            padding: 0;
            vertical-align: top;
        }
    }

    &:checked +label {
        &:before {
            background: var(--tpy-state-active-bg);
            color: var(--tpy-state-active-clr);
            content: "\2713";
            text-align: center;
        }
        &:after {
            font-weight: bold;
        }
    }
    &:focus + label:after {
        outline: rgb(59, 153, 252) auto 5px;
    }
}
