:focus {
    outline: none;
}

.centered {
    text-align: center;
}

.align-right {
    text-align: right;
}

.tpy-item-list {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
