#tpe-menubar {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--tpe-header-bg);
    display: flex;

    &> li { /* Menubar buttons */
        display: inline-block;
        &> div {
            display: flex;
            align-items: center;
            margin: 5px 2px;
            border: none;
            border-bottom: solid 2px transparent;

            &:hover, &:focus {
                border-bottom: solid 2px var(--tpe-active-border-color);
            }
            &.ui-state-active, &.ui-state-focus {
                background-color: transparent;
                color: var(--tpe-active-state-color);
            }
        }
    }
    
    &> li > ul > li { /* Menubar buttons inside dropdown */
        display: block;
    }

    /* Change dropdown carets to correct direction */
    &> li > div > span.ui-icon-caret-1-e {
        /* Caret on menubar */
        background-position: -65px -16px;
    }

    ul li div span.ui-icon-caret-1-e {
        /* Caret on dropdowns */
        background-position: -32px -16px;
    }

    .ui-menu-item .ui-menu-item-wrapper {
        padding-left: 0em;
        padding-right: 1em;

        .custom-item-wrapper {
            display: flex;
            padding: 0 .5em;
            padding-right: 16px;
            align-items: center;
            white-space: nowrap;
            position: relative;
            justify-content: flex-start;

            span {
                white-space: nowrap;
                flex: 1;
            }

            i {
                flex: 0 0 16px;
                margin: auto auto auto .2em;
                text-align: center;

                &.checkmark {
                    display: none;
                    position: absolute;
                    right: -8px;
                }
            }
        }

    }

    .ui-menu-item.checked {
        .custom-item-wrapper {
            i.checkmark {
                display: block;
            }
        }
    }

    .tpe-menu-right {
        margin-left: auto;
        &> div {
            display: flex;
            align-items: center;
        }
    }

    &.ui-menu {
        .ui-state-active, .ui-state-focus {
            //background-color: transparent;
            //color: var(--tpe-active-state-color);
            //margin: 0;
        }
    }
}
