.tpe-object-tree {
    padding: 5px;
    flex: 1;
    display: flex;
    flex-flow: column;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        padding: 2px 0 2px;

        li {
            list-style-type: none;
            margin-left: 10px;
        }
    }

    .ui-accordion {
        display: flex;
        flex-flow: column;
        flex: 1;
    }
}

li[data-root].jstree-node {
  & > i.jstree-icon.jstree-ocl {
    display:none;
  }

  .jstree-icon:empty {
    width: 16px;
  }

  .tpe-jstree-node-toolbar {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;

    [data-action] {
      padding: 0 4px;
    }
  }
}
