.tpe-sidebar {
    flex: 0 0 270px;
    border-right: var(--tpe-panel-border);
    background: var(--tpe-panel-content-bg);
    overflow-x: hidden;
    display: flex;
    flex-flow: column;

    .ui-tabs {
        padding: 0px;
        border: none;

        display: flex;
        flex-flow: column;
        flex: 1;

        .ui-tabs-nav {
            padding: 0;
            border-radius: 0;
            display: flex;

            li {
                flex: 1;
                margin: 0;
                border: 0;
                display: flex;
                border-radius: 0;
                text-align: center;
            }

            .ui-tabs-anchor {
                flex: 1;
                outline: none;
            }
        }

        > .ui-widget-content {
            border: none;
        }
    }

    .ui-widget-header {
        border-left: 0;
        border-right: 0;
    }

    .tpe-toolset {
        display: flex;
        flex-flow: column;
        flex: 1;

        &>h3 {
            flex: 0;
            margin: .2em 0;
        }

        .tpe-toolset-content {
            flex: 1;
            overflow: auto;
        }
    }
}
