@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
//@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
//@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
@import "mixins/utils";
@import "mixins/colors";

//Theme basic colors
$primary-color: rgb(230, 230, 230);
$secondary-color: rgb(222, 222, 222);
$gray: rgb(49, 49, 49);
//Build palette
$my-palette: palette($primary: $primary-color, $secondary: $secondary-color, $gray: $gray);

//Widget and site colors
$resting-bg: color($my-palette, 'gray', 900);
$resting-color: contrast-color($my-palette, 'gray', 900);
$hover-bg: color($my-palette, 'gray', 700);
$hover-color: contrast-color($my-palette, 'gray', 700);
$disabled-bg: color($my-palette, 'gray', 100);
$disabled-color: color($my-palette, 'gray', 400);
$active-state-bg: color($my-palette, 'gray', 800);
$active-state-color: contrast-color($my-palette, 'gray', 800);
$widget-content-bg: #fff;
$font-family: Arial, Helvetica, sans-serif;
$xs-screen: 512px;
$sm-screen: 640px;
$md-screen: 720px;
$lg-screen: 960px;
$xl-screen: 1140px;

:root {
    /* Widget Common Varibles */
    --tpe-font-family: #{$font-family};
    --tpe-widget-color: #{contrast-color($my-palette, 'gray', 200)};
    --tpe-header-bg: #{color($my-palette, 'gray', 200)};
    --tpe-header-border-color: #{color($my-palette, 'gray', 400)};
    --tpe-content-bg: #{color($my-palette, 'gray', 300)};
    --tpe-active-bg: #{color($my-palette, 'gray', 800)};
    --tpe-active-border-color: #{color($my-palette, 'gray', 900)};
    --tpe-state-active-bg: #{$active-state-bg};
    --tpe-state-active-color: #{$active-state-color};
    --tpe-component-area-bg: #{color($my-palette, 'gray', 50)};
    --tpe-panel-border: solid 1px #{color($my-palette, 'gray', 400)};
    --tpe-panel-content-bg: #{$widget-content-bg};
    --tpe-button-resting-bg: #{$resting-bg};
    --tpe-button-resting-color: #{$resting-color};
    --tpe-button-hover-bg: #{$hover-bg};
    --tpe-button-hover-color: #{$hover-color};
    --tpe-button-focus-bg: #{$hover-bg};
    --tpe-button-focus-color: #{$hover-color};
    --tpe-button-disabled-bg: #{$disabled-bg};
    --tpe-button-disabled-color: #{$disabled-color};

    /* JQuery-UI Common variables theming */
    --tpe-widget-widget-content-clr: #c5c5c5;

    --tpe-widget-header-bg: #e9e9e9;
    --tpe-widget-header-bdr: #dddddd;
    --tpe-widget-header-clr: #333333;

    --tpe-widget-content-bg: #ffffff;
    --tpe-widget-content-bdr: #dddddd;
    --tpe-widget-content-clr: #333333;

    --tpe-state-default-bg: #f6f6f6;
    --tpe-state-default-bdr: #cccccc;
    --tpe-state-default-clr: #454545;

    --tpe-state-hover-bg: #ededed;
    --tpe-state-hover-bdr: #cccccc;
    --tpe-state-hover-clr: #2b2b2b;

    --tpe-state-active-bg: #{$active-state-bg}; //#007fff;
    --tpe-state-active-bdr: #{color($my-palette, 'gray', 900)}; //#003eff;
    --tpe-state-active-clr: #{$active-state-color}; //#ffffff;

    --tpe-state-selected-bg: #fffa90;
    --tpe-state-selected-bdr: #dad55e;
    --tpe-state-selected-clr: #777620;

    --tpe-state-error-bg: #fddfdf;
    --tpe-state-error-bdr: #f1a899;
    --tpe-state-error-clr: #5f3f3f;

    --tpe-border-radius: 3px;
    --tpe-widget-shadow: 0px 0px 5px #666666;
    --tpe-widget-overlay-bg: #aaaaaa;
    --tpe-widget-overlay-opacity: .003;
    --tpe-second-priority-opacity: .7;
    /* Icons */
    --tpe-icon-content-sprite: url("images/ui-icons_ffffff_256x240.png");
    --tpe-icon-content-filter: brightness(0.267); //hue-rotate(0deg);
    --tpe-icon-header-sprite: url("images/ui-icons_ffffff_256x240.png");
    --tpe-icon-header-filter: brightness(0.267);
    --tpe-icon-hover-sprite: url("images/ui-icons_ffffff_256x240.png");
    --tpe-icon-hover-filter: brightness(0.333);
    --tpe-icon-active-sprite: url("images/ui-icons_ffffff_256x240.png");
    --tpe-icon-active-filter: none;
    --tpe-icon-selected-sprite: url("images/ui-icons_777620_256x240.png");
    --tpe-icon-selected-filter: hue-rotate(59deg) saturate(58%) brightness(0.267);
    --tpe-icon-error-sprite: url("images/ui-icons_cc0000_256x240.png");
    --tpe-icon-error-filter: hue-rotate(59deg) saturate(58%) brightness(0.267);
    --tpe-icon-button-sprite: url("images/ui-icons_ffffff_256x240.png");
    --tpe-icon-button-filter: brightness(0.467);
}

html {
    height: 100%;
    background-color: var(--tpe-content-bg);
}

body {
    font-size: 14px;
    margin: 0;
    height: 100%;
}