.tpe-editor-default {
    background-color: var(--tpe-content-bg);
    display: flex;
    font-family: var(--tpe-font-family);

    @import 'vendor/jquery-ui';
    @import 'vendor/jquery-ui-overwrites';

    .tpe-content-wrapper {
        height: 100%;
        overflow: auto;
        flex: 1;
    }
    @import 'misc/index';
    @import 'layout/index';
    @import 'components/index';

    //Jquery UI Customs
    .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        background-color: var(--tpe-state-active-bg);
        color: var(--tpe-state-active-clr);
        border: none; //solid 1px var(--tpe-state-active-bg);
        &:focus {
            outline: none;
        }
    }
}
